<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SampleConnection" connectionString="workstation id=WalletDB.mssql.somee.com;packet size=4096;user id=raj1197_SQLLogin_1;pwd=p6j63lg5rd;data source=WalletDB.mssql.somee.com;persist security info=False;initial catalog=WalletDB"/>
  </connectionStrings>
  <system.webServer> 
    <defaultDocument> 
        <files> 
          <add value="Login.aspx" />
        </files> 
    </defaultDocument> 
</system.webServer> 
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>

<!--Data Source=STAGING\PAYNEARBY;Initial Catalog=wallet;User ID=developer;Password=Asdfg!23"-->